<div class="container-scroller">
	<div class="container-fluid page-body-wrapper full-page-wrapper">
	  <div class="row w-100 m-0">
		<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
		  <div class="card col-lg-4 mx-auto">
			<div class="card-body px-5 py-5">
			  <h3 class="card-title text-left mb-3">Login</h3>
			  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
				  <label for="username">Username *</label>
				  <input type="text" class="form-control p_input" name="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
				  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
					<div *ngIf="f.username.errors.required">Username is required</div>
				  </div>
				</div>
				<div class="form-group">
				  <label for="password">Password *</label>
				  <input type="password" name="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control p_input">
				  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">Password is required</div>
				  </div>
				</div>
				<div class="form-group d-flex align-items-center justify-content-between">
				  <div class="form-check">
					<label class="form-check-label">
					  <input type="checkbox" class="form-check-input"> Remember me </label>
				  </div>
				  <a href="#" class="forgot-pass">Forgot password</a>
				</div>
				<div class="text-center">
				  <button type="submit" [disabled]="loading"  class="btn btn-primary btn-block enter-btn">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>  
					Login</button>
				</div>
				<p class="sign-up">Don't have an Account?<a href="signup"> Sign Up</a></p>
			  </form>
			</div>
		  </div>
		</div>
		<!-- content-wrapper ends -->
	  </div>
	  <!-- row ends -->
	</div>
	<!-- page-body-wrapper ends -->
  </div>